{% extends "email/email_base.html" %}

{% block content %}
    <p class="lead" style="margin: 0;padding: 0;margin-bottom: 10px;font-weight: normal;font-size: 17px;line-height: 1.6;">
         {{ last_name }} {{ first_name }}様<br>
    </p>
    <p class="lead" style="margin: 0;padding: 0;margin-bottom: 10px;font-weight: normal;font-size: 17px;line-height: 1.6;">
        このたびは  【3分間コーチ】へのご参加ありがとうございます。<br>
        ワークショップのご参加にあたり、<br>
        まず事前アセスメントにご回答いただく必要があります。<br><br>

        １）事前アセスメント実施のご案内<br><br>

        以下の手順でお進みください。<br>
        ------------------------------------------------------------------------------------------------------------<br>
        ステップ１ 参加者様専用サイトのパスワード設定<br>
        ------------------------------------------------------------------------------------------------------------<br>
        下記URLをクリックし、ご自身でパスワード設定の上、ログインください。<br>

        ▼パスワード設定<br>
        <a href="{{ url }}">{{ url }} </a><br>

        -----------------------------------------------------------------------------------------------------------<br>
        ステップ2 事前アセスメントに回答（所要時間：約10分）<br>
        -----------------------------------------------------------------------------------------------------------<br>
        ログイン後、事前アセスメントにご回答ください。  <br>
        ワークショップ当日アセスメント結果をご持参いただくか、<br>
        画面を閲覧できる環境をご用意ください。<br>

        ２）今後の流れについて<br>
        -----------------------------------------------------------------------------------------------------------<br>
        フォローアップメールマガジン”３Minutes Tips”で学ぶ（3か月間）<br>
        -----------------------------------------------------------------------------------------------------------<br>
        ワークショップご参加後、動画やテキストのメールマガジンで実践をフォローします。<br>

        ※弊社プログラムにご参加いただく方には、プログラム全般やシステムリニューアルに<br>
        関するお知らせをお送りさせていただくことがございます。ご了承ください。<br>

        ▼メールマガジン配信設定変更<br>
        <a href="{{ url_magazine_setting }}">{{ url_magazine_setting }} </a><br><br>

        ▼個人情報保護方針<br>
        <a href="https://www.coacha.com/etc/privacy.html">https://www.coacha.com/etc/privacy.html </a><br><br>

        <br>
    </p>
{% endblock %}

{% block unsubscribe %}
{% endblock %}
