{% extends "email/email_base.html" %}

{% block content %}
<p class="lead" style="margin: 0;padding: 0;{{ settings.EMAIL.FONT_CSS }};margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;">
         {{ last_name }} {{ first_name }}様
</p>
<p style="margin: 0;padding: 0;{{ settings.EMAIL.FONT_CSS }};margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;">
    このたびは  【3分間コーチ】へのご参加ありがとうございます。<br/>
ワークショップのご参加にあたり、<br/>
まず事前アセスメントにご回答いただく必要があります。<br/>
<br/>
１）事前アセスメント実施のご案内<br/>

以下の手順でお進みください。<br/>
------------------------------------------------------------------------------------------------------------<br/>
ステップ１ 参加者様専用サイトのパスワード設定<br/>
------------------------------------------------------------------------------------------------------------<br/>
下記URLをクリックし、ご自身でパスワード設定の上、ログインください。
</p>

<p class="body-wrap" >▼パスワード変更 <br/><a href="{{ password_string }}">{{ password_string }}</a></p>
<p style="margin: 0;padding: 0;{{ settings.EMAIL.FONT_CSS }};margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;">
            ------------------------------------------------------------- <br>
            ステップ2 事前アセスメントに回答（所要時間：約10分） <br>
            ------------------------------------------------------------- <br>
            ログイン後、事前アセスメントにご回答ください。<br>
            ワークショップ当日アセスメント結果をご持参いただくか、 <br>
            画面を閲覧できる環境をご用意ください。<br>
</p>
{% endblock %}

{% block unsubscribe %}
{% endblock %}
