{% extends "email/email_base.html" %}

{% block content %}
    <p class="lead" style="margin: 0;padding: 0;margin-bottom: 10px;font-weight: normal;font-size: 17px;line-height: 1.6;">
         ●●●●様 <br>

        【3分間コーチ】フォローアップメールマガジン”3 Minutes Tips”をお届けします。<br>

        今回のテーマはこちらです。参加者様専用サイトにログインの上、ご覧ください。<br>
        ｛各コンテンツ直リンクURL｝<br>

        ※メルマガ配信設定の変更はこちら <br>
        ｛メルマガ配信設定変更URL｝　<br>
        ※本メールマガジンの記事について、無断転載および転送はご遠慮ください。<br>
    </p>
{% endblock %}

{% block unsubscribe %}
{% endblock %}
